<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Coward Admin</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="javascript:void(0)"[routerLink]="['/home']"   >Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/pt']"  >ข้อมูลการใช้เตียง</a>
        </li>
        <li  class="nav-item">
          <a class="nav-link" href="javascript:void(0)" [routerLink]="['/setting']"  >ตั้งค่าเริ่มต้น</a>
        </li>
        <li  class="nav-item">
          <a class="nav-link" href="javascript:void(0)" [routerLink]="['/admin']"  >Admin</a>
        </li>
      </ul>
      <form class="d-flex">
               <button *ngIf="! (ps.isLogin || ps.isAdminLogin)"  class="btn btn-outline-success" type="button" (click)="goLogin()" >Login</button>
               <button *ngIf="ps.isLogin || ps.isAdminLogin"  class="btn btn-outline-success" type="button" (click)="doLogout()" >Logout</button>
       </form>
    </div>
  </div>
</nav>

<div class="d-flex" id="wrapper">

  <!-- Sidebar -->
  <div class="bg-light border-right" id="sidebar-wrapper"  [ngClass]="status ? 'hide' : 'show'">
    <div class="sidebar-heading">Dental Clinic </div>
    <div class="list-group list-group-flush">
      <a href="#" class="list-group-item list-group-item-action bg-light"   href="javascript:void(0)" [routerLink]="['/dashboard']" >Dashboard</a>
      <a href="#" class="list-group-item list-group-item-action bg-light"  href="javascript:void(0)" [routerLink]="['/pt']">ผู้รับบริการ</a>
      <a href="#" class="list-group-item list-group-item-action bg-light" href="javascript:void(0)" [routerLink]="['/admin']">Admin</a>
      <a href="#" class="list-group-item list-group-item-action bg-light">Events</a>
      <a href="#" class="list-group-item list-group-item-action bg-light">Profile</a>
      <a href="#" class="list-group-item list-group-item-action bg-light">Status</a>
    </div>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
     
      <div class="container-fluid">
        <button class="btn btn-primary" (click)="clickEvent()">Toggle Menu</button>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Dropdown
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
          </ul>
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="button">Search</button>
          </form>
        </div>
          

      </div>
    </nav>
<router-outlet></router-outlet>
   
  </div>
  <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->
